<a href="https://colab.research.google.com/github/shashankshetty82854/Employee-Management/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Employee Management Project** - Shashank Shetty

In [ ]:
<%@page  import="java.sql.*" %>
<%


				if(request.getParameter("r")!=null)
				{
					int id = Integer.parseInt(request.getParameter("r"));

				try{
					DriverManager.registerDriver(new com.mysql.cj.jdbc.Driver());
					String url = "jdbc:mysql://localhost:3306/emp1";
					Connection con = DriverManager.getConnection(url,"root","abc123");
					String sql = "delete from employee where id=?";
						PreparedStatement pst = con.prepareStatement(sql);
						pst.setInt(1,id);
						long ans = pst.executeUpdate();
						if(ans==1)
							out.println("Record Deleted");
						else
							out.println(id +" Does Not Exists!");
							con.close();


					}catch(SQLException se){
						out.println("Issue " +se);
					}
				}
			%>
<html>
	<head>
		<title>Employee App</title>
		<style>
					body{background-color: 	rgb(166, 255, 206);}

			*{font-size:40px;}
			*{font-size:40px; font-family:Book Antiqua;}


			.nav a{color:white; text-decoration:none; margin:5%;}
		</style>
	</head>
	<body>
	<center>
				<div class="nav">


				</div>
				<h1 style="border: 4px solid black; width: 70%;" style="border: 4px solid black; width: 70%;">View page!</h1 style="border: 4px solid black; width: 70%;" style="border: 4px solid black; width: 70%;">
				<table border="3" style="width:50%;">
					<tr>
						<th>id</th>
						<th>Name</th>
						<th>salary</th>
						<th>Delete</th>
					</tr>

		<%
			try
			{
				DriverManager.registerDriver(new com.mysql.cj.jdbc.Driver());
				String url = "jdbc:mysql://localhost:3306/emp1";
				Connection con = DriverManager.getConnection(url,"root","abc123");
						String sql = "Select * from employee";
						Statement stmt = con.createStatement();
						ResultSet rs = stmt.executeQuery(sql);
						while(rs.next())
						{
							int id = rs.getInt(1);
							String name = rs.getString(2);
							int salary = rs.getInt(3);

		%>
						<tr style="text-align:center;">
							<td><%=id%></td>
							<td><%=name%></td>
							<td><%=salary%></td>
							<td><a href="?r=<%=id%>" onclick="return confirm('Are You Sure?')">Delete</a></td>
			</tr>
			<%
						}
			}
			catch(SQLException err)
			{
				out.println("issue" + err);
			}
		%>




		</table>
					<br/><br/>
					<a href="index.jsp">Home</a>
	</center>
	</body>
</html>